.promo {
  background-color: #ffffff;
}

.promo__wrapper {
  padding: 20px;
  padding-top: 45px;
  padding-bottom: 35px;
  text-align: center;

}

.promo__slogan {
  display: block;
  .font-props(24px, 30px, 300);
}

@media (min-width: @tablet-width) {
  .promo__wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .promo__slogan {
    .font-props(40px, 48px, 300);
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    padding-top: 75px;
    padding-bottom: 80px;
  }

  .promo__slogan {
    .font-props(50px, 60px, 300);
  }
}
